.Graph {
    display: grid;
    grid-template-columns: 34em 1fr;
    grid-template-areas: "code svg";
    position: fixed;
    top: 0px;
    left: 0px;
    height: 100vh;
    width: 100vw;
}

.Graph > .svg {
    grid-area: svg;
    margin-left: 2em;
    overflow: scroll;
}

.Graph > .code {
    grid-area: code;
    border-right: 1px solid #ddd;

    display: grid;
    grid-template-rows: auto 1fr auto;
}

.Graph > .code > .react-codemirror2 > .CodeMirror {
    height: 100%;
    font-size: 1.3em;
}

.Graph > .code > .error {
    padding: 0.2em;
    color: red;
}
